# Unit 2 Lesson 4 Multivariable regression Drill: Prepare the Data

In [1]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format

In [2]:
fbi_data = pd.read_csv('offenses_known_to_law_enforcement.csv')

In [3]:
fbi_data.head(10)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000,nan
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000,nan
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000,nan
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan,nan
5,Alfred Village,"4,089",5,0.000,nan,0,3,2,46,10,36,0,nan,nan
6,Allegany Village,"1,781",3,0.000,nan,0,0,3,10,0,10,0,0.000,nan
7,Amherst Town,"118,296",107,1.000,nan,7,31,68,"2,118",204,"1,882",32,3.000,nan
8,Amityville Village,"9,519",9,0.000,nan,2,4,3,210,16,188,6,1.000,nan
9,Amsterdam,"18,182",30,0.000,nan,0,12,18,405,99,291,15,0.000,nan

In [4]:
fbi_data.describe()

,Murder and nonnegligent manslaughter,Rape (revised definition)1,Arson3,Unnamed: 13
count,348.000,0.000,187.000,0.000
mean,1.566,nan,1.872,nan
std,18.304,nan,10.693,nan
min,0.000,nan,0.000,nan
25%,0.000,nan,0.000,nan
50%,0.000,nan,0.000,nan
75%,0.000,nan,1.000,nan
max,335.000,nan,132.000,nan

In [5]:
fbi_data = fbi_data.fillna(0)

In [6]:
fbi_data['Murder and\nnonnegligent\nmanslaughter'] = fbi_data['Murder and\nnonnegligent\nmanslaughter'].astype(int)
fbi_data['Arson3'] = fbi_data['Arson3'].astype(int)

In [7]:
fbi_data = fbi_data.drop(['Unnamed: 13', 'Rape\n(revised\ndefinition)1'], axis =1)

In [8]:
fbi_data.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0,0,0,0,12,2,10,0,0
1,Addison Town and Village,"2,577",3,0,0,0,3,24,3,20,1,0
2,Akron Village,"2,846",3,0,0,0,3,16,1,15,0,0
3,Albany,"97,956",791,8,30,227,526,"4,090",705,"3,243",142,0
4,Albion Village,"6,388",23,0,3,4,16,223,53,165,5,0

In [11]:
fbi_data['Propertycrime']= (fbi_data.population + (fbi_data.population **2) + fbi_data['Murder and\nnonnegligent\nmanslaughter'] + fbi_data.Robbery)

AttributeError: 'DataFrame' object has no attribute 'population'