# Unit 2 Lesson 4 Multivariable regression Drill: Prepare the Data

In [1]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
%matplotlib inline
pd.options.display.float_format = '{:.3f}'.format
from sklearn import preprocessing

In [2]:
fbi_data = pd.read_csv('offenses_known_to_law_enforcement1.csv')

In [3]:
fbi_data.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0,nan,0,0,0,12,2,10,0,0.000
1,Addison Town and Village,"2,577",3,0,nan,0,0,3,24,3,20,1,0.000
2,Akron Village,"2,846",3,0,nan,0,0,3,16,1,15,0,0.000
3,Albany,"97,956",791,8,nan,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0,nan,3,4,16,223,53,165,5,nan

In [4]:
fbi_data.describe()

,Murder and nonnegligent manslaughter,Rape (revised definition)1,Arson3
count,348.000,0.000,187.000
mean,1.566,nan,1.872
std,18.304,nan,10.693
min,0.000,nan,0.000
25%,0.000,nan,0.000
50%,0.000,nan,0.000
75%,0.000,nan,1.000
max,335.000,nan,132.000

In [5]:
fbi_data = fbi_data.drop(['Rape\n(revised\ndefinition)1'], axis =1)

In [6]:
fbi_data.columns = ['City', 'Population', 'ViolentCrime', 'Murder', 'Rape2', 'Robbery', 'AggAssault', 'PropCrime', 'Burglary', 'Larceny', 'AutoTheft', 'Arson']

In [7]:
fbi_data = fbi_data.fillna(0)

In [8]:
fbi_data['Murder'] = fbi_data['Murder'].astype(int)
fbi_data['Arson'] = fbi_data['Arson'].astype(int)
fbi_data['Robbery'] = fbi_data['Robbery'].str.replace(',', '')
fbi_data['Population'] = fbi_data['Population'].str.replace(',', '')
fbi_data['Robbery'] = fbi_data['Robbery'].astype(int)
fbi_data['Population'] = fbi_data['Population'].astype(int)
fbi_data['PropCrime'] = fbi_data['PropCrime'].str.replace(',', '')

In [9]:
fbi_data['Murder'] = fbi_data['Murder'].apply(lambda x: 1 if x >= 1 else 0)
fbi_data['Robbery'] = fbi_data['Robbery'].apply(lambda x: 1 if x >= 1 else 0)

In [10]:
fbi_data.head()

,City,Population,ViolentCrime,Murder,Rape2,Robbery,AggAssault,PropCrime,Burglary,Larceny,AutoTheft,Arson
0,Adams Village,1861,0,0,0,0,0,12,2,10,0,0
1,Addison Town and Village,2577,3,0,0,0,3,24,3,20,1,0
2,Akron Village,2846,3,0,0,0,3,16,1,15,0,0
3,Albany,97956,791,1,30,1,526,4090,705,"3,243",142,0
4,Albion Village,6388,23,0,3,1,16,223,53,165,5,0

In [11]:
regr = linear_model.LinearRegression()
Y = fbi_data['PropCrime']
X = fbi_data[['Population', 'Robbery', 'Murder']]
regr.fit(X, Y)
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [  1.68728222e-02   1.06994709e+02   6.07383740e+02]

Intercept:
 -32.7222682393

R-squared:
0.993448543573

In [12]:
a = regr.intercept_
fbi_data['PropCrime'] = a + (fbi_data.Population + (fbi_data.Population **2) + fbi_data.Murder + fbi_data.Robbery)